flask==3.0.2
flask-cors==4.0.0
Flask-RESTful
Werkzeug==3.0.1
librosa
numpy
docker
PyJWT
flask-pymongo
python-dotenv==1.0.1
pydub
pymongo==4.6.2
soundfile
flask_jwt_extended
marshmallow
flask-limiter==3.5.0
redis
gunicorn==21.2.0
python-magic
requests==2.31.0
pytest==8.0.2
pytest-cov==4.1.0
black==24.2.0
flake8==7.0.0
isort==5.13.2
mypy
